<h2>
    Medidas antropometrícas
  </h2>
  <div class="container">
      <form [formGroup]="formMeasures">
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Peso</mat-label>
            <input
              matInput
              type="number"
              formControlName="weight"
              [(ngModel)]="anthropometricMeasures.weight"
              id="weight"
              required
            readonly
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
          <mat-label>Perímetro cefálico</mat-label>
          <input
          matInput
            type="number"
            readonly    
            [(ngModel)]="anthropometricMeasures.cephalicPerimeter"
            placeholder="Perímetro cefálico"
            id="perimetroCefalico"
            formControlName="cephalicPerimeter"
          />
      </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
          <mat-label>Talla</mat-label>
          <input
          matInput
            type="number"
            readonly
            [(ngModel)]="anthropometricMeasures.size"
            (keyup)="keyPress()"
            placeholder="Talla"
            formControlName="size"
            id="talla"
          />
      </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
          <mat-label>IMC</mat-label>
          <input
          matInput
            type="number"
            [(ngModel)]="anthropometricMeasures.imc"
            readonly
            placeholder="IMC"
            id="imc"
            formControlName="imc"
          />
      </mat-form-field>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <mat-form-field>
          <mat-label>Perímetro torácico</mat-label>
          <input
          matInput
            type="number"
            readonly
            [(ngModel)]="anthropometricMeasures.thoracicPerimeter"
            placeholder="Perímetro torácico"
            id="perimetroToracico"
            formControlName="thoracicPerimeter"
          />
      </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
          <mat-label>Perímetro abdominal</mat-label>
          <input
          matInput
            type="number"
            readonly
            [(ngModel)]="anthropometricMeasures.abdominalPerimeter"
            placeholder="Perímetro abdominal"
            id="perimetroAbdominal"
            formControlName="abdominalPerimeter"
          />
      </mat-form-field>
        </div>
        <div class="form-group">
          <mat-label>Interpretacion</mat-label>
          <textarea
            class="form-control rounded-0"
            name="otherDiagnostic"
            id="textarea"
            cols="30"
            rows="5"
            formControlName="interpretation"
            readonly
            [(ngModel)]="anthropometricMeasures.interpretation"
          ></textarea>
        </div>
      </div>
    </div>
  </form>
  
  </div>
  