#navbar  ul li a{
    color: white;
    
    }
    
    .navbar {
      padding: 15px 10px;
      background: #fff;
      border: none;
      border-radius: 0;
      margin-bottom: 40px;
      box-shadow: 1px 1px 3px rgba(192, 30, 30, 0.1);
      background-color:#04014d;
    }
    
    .navbar-btn {
      box-shadow: none;
      outline: none !important;
      border: none;
    }
    mat-form-field{
      display: block;
  }
  input{
    height: 30px;
  }