input{

    font-size: 15px;
    height: 30px;
    width:200px ;
    font-family: 'Poppins';
}
label{

    font-size: 15px;
    font-family: 'Poppins';
}
select{
    font-size: 15px;
    height: 33px;
    width:200px ;
    font-family: 'Poppins';

}
option{

    font-size: 15px;
    height:30px;
    width:200px ;
    font-family: 'Poppins';
}
button{

    background-color:#1205cc;
    font-family: 'Poppins';
    color: white;
}
button:hover{

background-color: #190aec;

}
h2{
    font-family: 'Poppins';
}
span{
color: red;
font-family: 'Poppins';
}
body{
    background: #15055c;
    font-family: 'Poppins';
}

mat-card{
    margin-top: 1px;
    background: #fafafa;
}
