<Body>

    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">

            <mat-card>
                <div class="container">
                    <mat-card-content>

                        <form [formGroup]="userForm">
                            <div class="row">

                                <div class="col-lg-1 ">
                                    <button mat-icon-button style="background: #fafafa;" (click)="goBack()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>

                                <div class="col-lg-9 ">
                                    <h2 class="text-center">Registrese como Estudiante</h2>
                                </div>
                                <div class="col-lg-1 "></div>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col-lg-6 mb-4">
                                    <div class="form-group ">
                                        <label for="nombres">Primer Nombre*</label>
                                        <input type="text" class="form-control mb-4" formControlName="firstName"
                                            placeholder="Primer nombre" name="firstName" id="firstName"
                                            [(ngModel)]="student.firstName">
                                    </div>
                                    <div class="form-group">
                                        <label for="Apellidos">Primer Apellido*</label>
                                        <input type="text" class="form-control mb-4" formControlName="firstLastName"
                                            placeholder="Primer apellido" name="firstLastName" id="firstLastName"
                                            [(ngModel)]="student.firstLastName">
                                    </div>
                                    <div class="form-group">
                                        <label for="Identificacion">Identificación*</label>

                                        <input type="number" class="form-control mb-4" formControlName="identificacion"
                                            placeholder="identificacion" name="identificacion" id="identificacion"
                                            [(ngModel)]="student.idDocente">
                                    </div>
                                    <div class="form-group">
                                        <label for="sexo">Seleccione su sexo*</label>
                                        <select class="form-control mb-4" formControlName="sex" id="sexo" name="sexo"
                                            [(ngModel)]="student.sex">
                                            <option value="" selected>Seleccione...</option>
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="locationBiannual">Ubicación semestral*</label>

                                        <input type="number" class="form-control mb-4"
                                            formControlName="locationBiannual" placeholder="Ubicación semestral"
                                            name="locationBiannual" id="locationBiannual"
                                            [(ngModel)]="student.locationBiannual">
                                    </div>
                                    <div class="form-group md-4">
                                        <label for="email">Confirmar Email*</label>
                                        <input type="email" formControlName="confirmEmail"
                                            id="confirmEmail" class="form-control"
                                            placeholder="Confirmar Email">
                                        <div
                                            *ngIf="userForm.get('confirmEmail').hasError('required') && userForm.get('confirmEmail').touched">
                                            <span style="color: red; font-size: small;">Email requerido</span>

                                        </div>
                                        <div
                                            *ngIf="userForm.get('confirmEmail').hasError('email') && userForm.get('confirmEmail').touched">
                                            <span style="color: red; font-size: small;">Email invalido</span>

                                        </div>
                                        <div
                                            *ngIf="!(userForm.get('confirmEmail').value ===userForm.get('email').value) && userForm.get('confirmEmail').touched">
                                            <span style="color: red; font-size: small;">No coincide</span>
                                        </div>
                                    </div>
                                        <div class="form-group md-4" >
                                            <label for="ConfirmarContraseña">Confirmar contraseña*</label>
                                            <input type="password" class="form-control"
                                                formControlName="confirmPassword" placeholder="Confirmar contraseña"
                                                name="confirmPassword" id="confirmPassword">
                                            <div
                                                *ngIf="!(userForm.get('confirmPassword').value ===userForm.get('password').value) && userForm.get('confirmPassword').touched">
                                                <span style="color: red; font-size: small;">Las contraseñas no
                                                    coinciden</span>
                                            </div>
                                        </div>
                                   




                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group ">
                                        <label for="nombres">Segundo Nombre</label>
                                        <input type="text" class="form-control mb-4" formControlName="secondName"
                                            placeholder="Segundo nombre" name="secondName" id="secondName"
                                            [(ngModel)]="student.secondName">
                                    </div>
                                    <div class="form-group">
                                        <label for="Apellidos">Segundo Apellido</label>
                                        <input type="text" class="form-control mb-4" formControlName="secondLastName"
                                            placeholder="Segundo apellido" name="secondLastName" id="secondLastName"
                                            [(ngModel)]="student.secondLastName">
                                    </div>
                                    <div class="form-group">
                                        <label for="telefono">Teléfono*</label>
                                        <input type="number" class="form-control mb-4" formControlName="phone"
                                            placeholder="Telefono" name="telefono" id="phone"
                                            [(ngModel)]="student.phone">
                                    </div>

                                    <div class="form-group">
                                        <label for="fechaNacimiento">Fecha de Nacimiento*</label>
                                        <input type="date" class="form-control mb-4" formControlName="bornDate"
                                            id="bornDate" [(ngModel)]="student.bornDate" style="height: 33px;">
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="email">Email*</label>
                                        <input type="email" formControlName="email" id="email"
                                            class="form-control" placeholder="E-mail">
                                        <div
                                            *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
                                            <span style="color: red; font-size: small;">Email requerido</span>
                                        </div>
                                        <div
                                            *ngIf="userForm.get('email').hasError('email') && userForm.get('email').touched">
                                            <span style="color: red; font-size: small;">Email invalido</span>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="Contraseña">Contraseña*</label>
                                        <input type="password" class="form-control mb-4" formControlName="password"
                                            placeholder="Contraseña " name="password" id="password"
                                            [(ngModel)]="student.account.password">
                                            <div
                                            *ngIf="userForm.get('password').hasError('minlength') && userForm.get('password').touched">
                                            <span style="color: red; font-size: small;">La contraseña debe tener minimo 6 caracteres</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-3"></div>
                                <div class="col-lg-3"></div>
                                <div class="col-lg-3">
                                    <button class="btn btn-primary"
                                        [disabled]="!(userForm.valid) || !(userForm.get('confirmEmail').value ===userForm.get('email').value) || !(userForm.get('confirmPassword').value ===userForm.get('password').value)"
                                        type="submit" (click)="addStudent()">Guardar</button>
                                </div>
                            </div>


                        </form>
                        <br>

                    </mat-card-content>
                </div>

            </mat-card>
        </div>
    </div>

</Body>