<Body>

    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">

            <mat-card>
                <div class="container">
                    <mat-card-content>
                            <div class="row">
                                <div class="col-lg-1 ">
                                    <button mat-icon-button style="background: #fafafa;" (click)="goBack()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>

                                <div class="col-lg-9 ">
                                    <h2 class="text-center">Registrese como Estudiante</h2>
                                </div>
                                <div class="col-lg-1 "></div>
                            </div>
                            <br>
                            <mat-horizontal-stepper style="background-color: #fafafa;" #stepper>
                                <mat-step [stepControl]="personalData">
                                    <form [formGroup]="personalData">
                                        <ng-template matStepLabel>Datos personales</ng-template>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Primer Nombre</mat-label>
                                                        <input matInput placeholder="Primer Nombre"
                                                            formControlName="firstName" id="firstName" [(ngModel)]="user.firstName" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Primer Apellido</mat-label>
                                                        <input matInput placeholder="Primer Apellido"
                                                            formControlName="firstLastName" id="firstLastName" [(ngModel)]="user.firstLastName" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Identificacion</mat-label>
                                                        <input matInput type="number" placeholder="Identificacion"
                                                            formControlName="identificacion"  id="identificacion" [(ngModel)]="user.idDocente" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Sexo</mat-label>
                                                        <mat-select formControlName="sex"  id="sex"  [(ngModel)]="user.sex">
                                                            <mat-option value="Femenino">Femenino</mat-option>
                                                            <mat-option value="Masculino">Masculino</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Ubicación Semestral</mat-label>
                                                        <input matInput type="number" placeholder="Ubicación Semestral"
                                                            formControlName="locationBiannual"  id="locationBiannual" [(ngModel)]="user.locationBiannual" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Segundo Nombre</mat-label>
                                                        <input matInput placeholder="Segundo Nombre"
                                                            formControlName="secondName" id="secondName" [(ngModel)]="user.secondName">
                                                    </mat-form-field>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Segundo Apellido</mat-label>
                                                        <input matInput placeholder="Segundo Apellido"
                                                            formControlName="secondLastName"  id="secondLastName" [(ngModel)]="user.secondLastName">
                                                    </mat-form-field>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Telefono</mat-label>
                                                        <input matInput type="number" placeholder="Telefono"
                                                            formControlName="phone"  id="phone"  [(ngModel)]="user.phone" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Fecha de Nacimiento</mat-label>
                                                        <input matInput type="date" formControlName="bornDate" id="bornDate"  [(ngModel)]="user.bornDate" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <button mat-button matStepperNext  id="btn-Next">Siguiente</button>
                                        </div>
                                    </form>
                                </mat-step>
                                <mat-step [stepControl]="accountData">
                                    <form [formGroup]="accountData">
                                        <ng-template matStepLabel>Datos de su cuenta</ng-template>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Email</mat-label>
                                                        <input matInput type="email"
                                                            formControlName="email" id="email" required>
                                                    </mat-form-field>
                                                    <div
                                                    *ngIf="accountData.get('email').hasError('required') && accountData.get('email').touched">
                                                    <span style="color: red; font-size: small;">Email requerido</span>
                                                </div>
                                                <div
                                                    *ngIf="accountData.get('email').hasError('email') && accountData.get('email').touched">
                                                    <span style="color: red; font-size: small;">Email invalido</span>
                                                </div>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Contraseña</mat-label>
                                                        <input matInput type="password"  id="password"
                                                            formControlName="password" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Confirmar Email</mat-label>
                                                        <input matInput type="email" id="confirmEmail"
                                                            formControlName="confirmEmail">
                                                    </mat-form-field>
                                                    <div
                                                *ngIf="accountData.get('confirmEmail').hasError('required') && accountData.get('confirmEmail').touched">
                                                <span style="color: red; font-size: small;">Email requerido</span>
    
                                            </div>
                                            <div
                                                *ngIf="!(accountData.get('confirmEmail').value ===accountData.get('email').value) && accountData.get('confirmEmail').touched">
                                                <span style="color: red; font-size: small;">No coincide</span>
                                            </div>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <mat-form-field>
                                                        <mat-label>Confirmar Contraseña</mat-label>
                                                        <input matInput type="password"  id="confirmPassword"
                                                            formControlName="confirmPassword">
                                                    </mat-form-field>
                                                    <div
                                                *ngIf="!(accountData.get('confirmPassword').value ===accountData.get('password').value) && accountData.get('confirmPassword').touched">
                                                <span style="color: red; font-size: small;">Las contraseñas no
                                                    coinciden</span>
                                            </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div>
                                            <button mat-button matStepperPrevious>Atrás</button>
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-3">
                                                    <br>
                                                    <button class="btn btn-primary"
                                                        [disabled]="personalData.valid===false || accountData.valid===false || !(accountData.get('confirmEmail').value ===accountData.get('email').value) || !(accountData.get('confirmPassword').value ===accountData.get('password').value)"
                                                        type="submit" (click)="addStudent()">Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </mat-step>
                            </mat-horizontal-stepper>
                        <br>

                    </mat-card-content>
                </div>

            </mat-card>
        </div>
    </div>

</Body>