table.table{
    table-layout: fixed;
  
}



tr:nth-child(1) {
    background: #dedede;
}

button {
    background-color: green;
  }
  button:hover {
    background-color: seagreen;
  }

.scrollable {
    height: 400px;
    overflow-y: scroll;
  }
  .my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
  }


