<div class="container">
    <h2>Consulta paciente</h2>
    <div class="row">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
              <tr>
                <th>Identificación</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Sexo</th>
                <th></th>
              </tr>
              <tr *ngFor="let p of pacientes">
                  <td>{{p.idPaciente}}</td>
                <td>{{ p.names }}</td>
                <td>{{p.lastNames}}</td>
                <td>{{p.sex}}</td>
                <td><a routerLink="/clinicHistory/{{p.idPaciente}}">Registrar Historia</a></td>
              </tr>
            </table>
          </div>
    </div>
</div>