<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="habitosNutricionales">Antecedentes familiares</label>
            <textarea
              class="form-control rounded-0"
              name="nutricionalHabits"
              id="textarea"
              cols="30"
              rows="5"
              [(ngModel)]="familyBackground.description"
              [readonly]=!isEditable
            ></textarea>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <button class="btn btn-primary" *ngIf="isEditable" (click)="addFamilyBackground()">Guardar</button>
        <button class="btn btn-primary" *ngIf="isEditable===false" (click)="toggleEdit()">Editar</button>
    </div>
</div>