
<h2>Revisión por sistema y Examen Físico </h2>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="perimetroAbdominal">Interpretacion</label>
                    <textarea
                    class="form-control rounded-0"
                    name="otherDiagnostic"
                    id="textarea"
                    cols="30"
                    rows="5"
                    readonly
                    [(ngModel)]="physicalExam.description"
                  ></textarea>
                </div>
            </div>
          
        </div>
        
    </div>    
</body>