mat-icon{
    height:200px !important;
    width:200px !important;
    font-size:12px !important;
    display: block;
    font-family: 'Poppins';
}

button{
    display: block;
}
body{
    background: #fafafa;
    font-family: 'Poppins';
}
 
label{
    font-size: 20px;
    align-self: center;
    font-family: 'Poppins';
}